<form method="post" action="{{ path('app_produit_delete', {'idProd': produit.idProd}) }}" onsubmit="return confirm('vous etes sur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.idProd) }}">
    <button class="btn">Supprimer</button>
</form>
